#login {
  width: 100vw;
  height: 100vh;
  position: relative;
  background: url(../img/loginbackimg.jpg) no-repeat;
  background-size: cover;
}
#login .logo {
  position: absolute;
  top: 5%;
  left: 10%;
  width: 146px;
  height: 60px;
}
#login .box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 420px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  box-shadow: 0 0 7px 1px #d4d1d1;
}
#login .box .tabcard {
  margin: 40px auto 0;
  width: 50%;
  display: flex;
}
#login .box .tabcard li {
  width: 50%;
  text-align: center;
  padding: 6px;
  font-size: 25px;
  cursor: pointer;
}
#login .box .tabcard .select {
  color: #009688;
  border-bottom: 1px solid #009688;
}
#login .box .login-box {
  position: relative;
  margin: 40px auto 0;
  width: 80%;
}
#login .box .login-box > div {
  position: absolute;
  left: 0;
  top: 0;
  width: 77%;
}
#login .box .login-box .hidd {
  display: none;
}
#login .box .login-box .layui-form-item {
  margin-bottom: 35px;
}
#Personal i {
  margin-right: 5px;
}
#Personal dl dd {
  padding-left: 10px;
}
#Personal iframe {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
#Personal .userinfo {
  text-align: center;
  padding: 10px 0;
  border-bottom: 1px solid #009688;
  user-select: none;
}
#Personal .add {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #009688;
  text-align: center;
  line-height: 30px;
  color: white;
}
#basic {
  background-color: #f2f3f5;
  padding: 15px;
}
#basic .layui-input-block {
  width: 300px;
}
#reset {
  background-color: #f2f3f5;
  padding: 15px;
}
#reset .layui-input-block {
  width: 300px;
}
#replace {
  background-color: #f2f3f5;
  padding: 15px;
  /* 设置卡片主体区域的宽度 */
  /* 设置按钮行的样式 */
  /* 设置裁剪区域的样式 */
  /* 设置第一个预览区域的样式 */
  /* 设置第二个预览区域的样式 */
  /* 设置预览区域下方文本的样式 */
  /* 设置图片行的样式 */
  /* 设置 preview-box 区域的的样式 */
  /* 设置 img-preview 区域的样式 */
}
#replace .layui-card-body {
  width: 500px;
}
#replace .row2 {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
#replace .cropper-box {
  width: 350px;
  height: 350px;
  background-color: cyan;
  overflow: hidden;
}
#replace .w100 {
  width: 100px;
  height: 100px;
  background-color: gray;
}
#replace .w50 {
  width: 50px;
  height: 50px;
  background-color: gray;
  margin-top: 50px;
}
#replace .size {
  font-size: 12px;
  color: gray;
  text-align: center;
}
#replace .row1 {
  display: flex;
}
#replace .preview-box {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
}
#replace .img-preview {
  overflow: hidden;
  border-radius: 50%;
}
#articleClass {
  background-color: #f2f3f5;
  padding: 15px;
}
#articleClass .layui-card-header {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
}
#articleClass .pop-up,
#articleClass .pop-updata {
  display: none;
  width: 500px;
  height: 230px;
  padding: 35px 38px 0 0;
}
#textList {
  background-color: #f2f3f5;
  padding: 15px;
}
#textList .layui-form {
  display: flex;
}
#textList .layui-form .layui-form-item {
  width: 250px;
  margin-right: 20px;
}
#textList .layui-form .layui-form-item .layui-input-block {
  margin-left: 0;
}
#release {
  background-color: #f2f3f5;
  padding: 15px;
  /* 设置裁剪区域的样式 */
  /* 设置第一个预览区域的样式 */
  /* 设置预览区域下方文本的样式 */
  /* 设置图片行的样式 */
  /* 设置 preview-box 区域的的样式 */
  /* 设置 img-preview 区域的样式 */
}
#release #Upload {
  margin-top: 88px;
}
#release .cropper-box {
  width: 350px;
  height: 350px;
  background-color: cyan;
  overflow: hidden;
}
#release .w200 {
  width: 200px;
  height: 200px;
  background-color: gray;
}
#release .size {
  font-size: 12px;
  color: gray;
  text-align: center;
}
#release .row1 {
  display: flex;
}
#release .preview-box {
  margin-left: 50px;
  align-items: center;
}
#release .img-preview {
  overflow: hidden;
}
