@color1: rgb(0, 207, 221);

//登录注册
#login {
    width: 100vw;
    height: 100vh;
    position: relative;
    background: url(../img/loginbackimg.jpg) no-repeat;
    background-size: cover;

    .logo {
        position: absolute;
        top: 5%;
        left: 10%;
        width: 146px;
        height: 60px;
    }

    .box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 500px;
        height: 420px;
        background-color: rgba(255, 255, 255, .2);
        border-radius: 4px;
        box-shadow: 0 0 7px 1px rgb(212, 209, 209);

        .tabcard {
            margin: 40px auto 0;
            width: 50%;
            display: flex;

            li {
                width: 50%;
                text-align: center;
                padding: 6px;
                font-size: 25px;
                cursor: pointer;
            }

            .select {
                color: #009688;
                border-bottom: 1px solid #009688;
            }
        }

        .login-box {
            position: relative;
            margin: 40px auto 0;
            width: 80%;

            &>div {
                position: absolute;
                left: 0;
                top: 0;
                width: 77%;
            }

            .hidd {
                display: none;
            }

            .layui-form-item {
                margin-bottom: 35px;
            }
        }
    }
}

//个人中心
#Personal {
    i {
        margin-right: 5px;
    }

    dl dd {
        padding-left: 10px;
    }

    iframe {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
    }

    .userinfo {
        text-align: center;
        padding: 10px 0;
        border-bottom: 1px solid #009688;
        user-select: none;
    }

    .add {
        display: inline-block;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: #009688;
        text-align: center;
        line-height: 30px;
        color: white;
    }
}

//基本资料
#basic {
    background-color: #f2f3f5;
    padding: 15px;

    .layui-input-block {
        width: 300px;
    }
}

//修改密码
#reset {
    background-color: #f2f3f5;
    padding: 15px;

    .layui-input-block {
        width: 300px;
    }
}

//修改头像
#replace {
    background-color: #f2f3f5;
    padding: 15px;

    /* 设置卡片主体区域的宽度 */
    .layui-card-body {
        width: 500px;
    }

    /* 设置按钮行的样式 */
    .row2 {
        display: flex;
        justify-content: flex-end;
        margin-top: 20px;
    }

    /* 设置裁剪区域的样式 */
    .cropper-box {
        width: 350px;
        height: 350px;
        background-color: cyan;
        overflow: hidden;
    }

    /* 设置第一个预览区域的样式 */
    .w100 {
        width: 100px;
        height: 100px;
        background-color: gray;
    }

    /* 设置第二个预览区域的样式 */
    .w50 {
        width: 50px;
        height: 50px;
        background-color: gray;
        margin-top: 50px;
    }

    /* 设置预览区域下方文本的样式 */
    .size {
        font-size: 12px;
        color: gray;
        text-align: center;
    }

    /* 设置图片行的样式 */
    .row1 {
        display: flex;
    }

    /* 设置 preview-box 区域的的样式 */
    .preview-box {
        display: flex;
        flex-direction: column;
        flex: 1;
        align-items: center;
    }

    /* 设置 img-preview 区域的样式 */
    .img-preview {
        overflow: hidden;
        border-radius: 50%;
    }
}